<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666762712740-3g3l0hp9v8943cl5oqtue91jp94m3b01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666762712740-3g3l0hp9v8943cl5oqtue91jp94m3b01</string>
	<key>API_KEY</key>
	<string>AIzaSyC84HG2Y1tInf_8vbRFib67yZ1w-YFKDp4</string>
	<key>GCM_SENDER_ID</key>
	<string>666762712740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sjf.stickerApp</string>
	<key>PROJECT_ID</key>
	<string>sticker-app-8fc22</string>
	<key>STORAGE_BUCKET</key>
	<string>sticker-app-8fc22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666762712740:ios:fa35d021ba17a1ff</string>
	<key>DATABASE_URL</key>
	<string>https://sticker-app-8fc22.firebaseio.com</string>
</dict>
</plist>